<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controller</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <button onclick="noDetection()">감지된거 없음</button><br>

    <button onclick="humanDetection('CSeungJoo')">CSeungJoo 감지 재생</button><br>
    <button onclick="humanDetection('gunggme')">gunggme 감지 재생</button><br>
    <button onclick="crashDetection()">충돌 경고 재생 (의자)</button><br>
    <button onclick="busNumDetection(1008)">버스 번호 인식 (1008)</button>
    <button onclick="busNumDetection(518)">버스 번호 인식 (518)</button><br>
    <button onclick="busNumDetection(3003)">버스 번호 인식 (3003)</button>
    <button onclick="busNumDetection(74)">버스 번호 인식 (74)</button><br>
    <button onclick="busNumDetection(4101)">버스 번호 인식 (4101)</button><br>
    <button onclick="dotDetection()">점자 인식 (재생)</button><br>
    <button onclick="manyHumanDetection()">밀집 사고 경고 (재생)</button><br>
    <button onclick="useDayDetection()">소비기한 안내 (재생)</button>
    <script src="/static/jquery.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>